body {
    background-image: url(white-wallpaper.jpg);
    border-style: hidden;
    border-width: 3px;
    margin : 2%;
}
h1 {
    background-color: rgb(250, 83, 83);
    border-radius: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    width : 45%;
    text-align: center;

}
h2 {
    background-color: rgb(98, 255, 98);
    border-radius: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    width: 45%;
    text-align: center;
}
h3 {
    background-color: rgb(103, 118, 253);
    border-radius: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    width : 57%;
    text-align: center;
}
p {
    font-size: 20px;
}
