<div class="banner-top">
    <div class="container">
      <h3 >User Details</h3>
      <h4><a routerLink = "/login">Login</a><label>/</label>User Details</h4>
      <div class="clearfix"> </div>
    </div>
  </div>
    <div class="login">
      <div class="main-agileits">
          <div class="form-w3agile form1">
            <h3>Details</h3>
            <!-- <form action="#" method="post"> -->
              <!-- <div class="key"> -->
                <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                Username:
                <div class="clearfix"></div><br>
              <!-- </div> -->
              <!-- <div class="key"> -->
                <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
                Phone Number:
                <div class="clearfix"></div><br>
              <!-- </div> -->
              <!-- <div class="key"> -->
                <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
                Email ID:
                <div class="clearfix"></div><br>
              <!-- </div> -->
              <!-- <div class="key"> -->
                <i class="glyphicon glyphicon-home" aria-hidden="true"></i>
                Address:
                <div class="clearfix"></div><br>
              <!-- </div> -->
              <!-- <div class="key"> -->
                <i class="glyphicon glyphicon-euro" aria-hidden="true"></i>
                Balance: 
                <div class="clearfix"></div><br>
              <!-- </div> -->
            <!-- </form> -->
          </div>
          
        </div>
      </div>